<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar fixed-top navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">logo</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLink="/">Home</li>
      <li class="nav-item" routerLink="/about">About</li>
      <li class="nav-item" routerLink="/contact">Contact</li>
    </ul>
  </div>
</nav>





